<!-- Base > Looks > Form -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QuickRead</title>
        
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/iosevka/iosevka.css">
    </head>
    <body>
        <h1 id="app_name"> QuickRead☰ </h1>
        <p id="app_desc">
            <u id="underline"><b id="bold">Procrastinating</b></u> reading an article? Not anymore!<br>
            <u id="underline"><b id="bold">Anticipate</b></u> how long it might take to read, <u id="underline"><b id="bold">right now</b></u>!
        </p>

        {% block form %}{% endblock %}

        {% if data != 'error' %}
            {% if data is not defined %}
            <p></p>
            {% else %}
            <p id="analysis"> <u id="underline"><b id="bold">Approximately</b></u> it might take an average adult <u id="underline"><b id="bold">{{ data }}</b></u> to read the article</p>
            {% endif %}
        {% else %}
        <p id="analysis_error">Oops! some <u id="underline"><b id="bold">error</b></u> might have crept in.<br>Please re-check the article link.</p>
        {% endif %}

        <!-- <p>{{ tips }}</p> -->

        <nav class="navbar fixed-bottom">
            <div class="mx-auto">
                Made with ❤ by <a id=link href="https://github.com/x0rzavi"> Avishek Sen</a>.
                Star me on <a id=link href="https://github.com/x0rzavi/QuickRead">GitHub</a>.
            </div>
        </nav>

        {{ bootstrap.load_js() }}
    </body>
</html>